PORT=5000
JWT_SECRET=your_jwt_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
DIGILOCKER_SANDBOX_CLIENT_ID=NMC_TRAFFICMITRA_SB_01
NODE_ENV=development
GROQ_API_KEY=your_groq_api_key_here
